<form (submit)="Post()">

    <div class="mb-3">
        <label for="formFile" class="form-label">Nombre</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="name" type="text">
    </div>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Apellido</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="lastName" type="text">
    </div>
    <div class="mb-3">
        <label for="formFileDisabled" class="form-label">Sexo</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="gender" type="text">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Cédula</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="identificationCard" type="text">
    </div>
    <div>
        <label for="formFileLg" class="form-label">Fecha de nacimiento</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="birthDay" type="text">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Posición</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="position" type="text">
    </div>
    <div class="mb-3">
        <label for="formFileLg" class="form-label">Supervisor impediato</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="immediateSupervisor" type="text">
    </div>

</form>