#buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
}

#divImg {
    width: 30px;
    height: 80px;
    position: absolute;
    left:  65%;
    border-radius: 25% 25%;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divImg div {
    width: 30px;
    height: 80px;
    border-radius: 25% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(49, 48, 48, 0.37);
}

img {
    width: 100px;
    height: 80px;
}

span{
    color: red;
}

mb-3{
    margin-bottom: 5px;
}