<spinkit *ngIf="spinkit"></spinkit>

<div id="divImg">
    <div>
        <img src='../../../../assets/Icons/scroll-down-icon-home.gif'>
    </div>
</div>

<form (submit)="Post()" [formGroup]='form'>

    <div class="mb-3">
        <label for="formFile" class="form-label">Nombre</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="name" type="text">
    </div>

    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Apellido</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="lastName" type="text">
    </div>

    <div class="mb-3">
        <label for="formFileDisabled" class="form-label">Sexo</label>

        <select class="form-select" formControlName="gender" aria-label="Default select example">
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        </select>

    </div>

    <div class="mb-3">
        <label for="formFileSm" class="form-label">Cédula</label>
        <input class="form-control" mask="000-0000000-0" placeholder="000-0000000-0" id="exampleFormControlInput1" formControlName="identificationCard" type="text">
    </div>

    <div>
        <label for="formFileLg" class="form-label">Fecha de nacimiento</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="birthDay" type="date">
    </div>

    <div class="mb-3">
        <label for="formFileSm" class="form-label">Posición</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="position" type="text">
    </div>

    <div class="mb-3">
        <label for="formFileLg" class="form-label">Supervisor impediato</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="immediateSupervisor" type="text">
    </div>

    <div class="mb-3">

        <label for="formFileLg" class="form-label">Departamentos</label>

        <select class="form-select" formControlName="departmentId" aria-label="Default select example">
        <option *ngFor="let d of Departments" [ngValue]='d.code'>{{d.name}}</option>
        </select>

    </div>

    <div id="buttons">
        <button class="btn btn-primary">{{UpdateCreate}}</button>
        <button class="btn btn-danger" (click)="Cancel()">volver</button>
    </div>

</form>