#container{
    padding: 5px;
/*     background: #77A1D3;
    background: -webkit-linear-gradient(to top, #E684AE, #79CBCA, #77A1D3);
    background: linear-gradient(to top, #E684AE, #79CBCA, #77A1D3); */
    width: 100vw;
    height: 100vh;
}